<div id="wrapper">
    <app-header></app-header>
    <div class="pt-5">
        <section class="content">
            <div class="single-photo row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div *ngIf="photo.urls">
                        <img *ngIf="photo.urls.regular" class="d-block rounded-top"  [src]="photo.urls.regular"/>
                        <div *ngIf="photo.links" class="download-link">
                            <a class="btn btn-sm btn-warning" href="{{photo.links.download}}" target="_blank" rel="nofollow">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 mb-3 p-3 photo-description">
                    <div *ngIf="photo.user" class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <img [src] ="photo.user.profile_image.large" class="border rounded-circle mb-3 d-block"/>
                        </div>
                        <div class="col-md-12 col-sm-12 col-12">
                            <p class="text-center">{{photo.user.username}}</p>
                            <p class="text-black-50 text-center" *ngIf="photo.user.location">
                                <i class="fa fa-map-marker"></i>  {{photo.user.location}}
                            </p>
                            <p class="pr-3 pl-3 p-md-0">{{photo.user.bio}}</p>
                            <br/>

                            <div class="row col-12">
                                <div class="col-xl-4 col-md-12 col-sm-12 col-12 pr-4 pl-4 p-md-0">
                                    <p><i class="fa fa-heart"></i> {{photo.likes | number}}</p>
                                    <p><i class="fa fa-download"></i> {{photo.downloads | number}}</p>
                                    <p><i class="fa fa-eye"></i> {{photo.views | number}}</p>
                                </div>
                                <div class="col-xl-8 col-md-12 col-sm-12 col-12 pr-4 pl-4 p-md-0">
                                    <p *ngIf="photo.user.instagram_username"><i class="fa fa-instagram"></i>  {{photo.user.instagram_username}}</p>
                                    <p *ngIf="photo.user.twitter_username"> <i class="fa fa-twitter"></i>  {{photo.user.twitter_username}}</p>
                                    <p *ngIf="photo.user.portfolio_url"> <i class="fa fa-globe"></i>  {{photo.user.portfolio_url}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
