<nav class="navbar fixed-top flex-row">
    <a class="navbar-brand" href="/">
        <img src="/assets/img/logo.png" class="logo"/>
        <span>Orange</span>
    </a>
    <div class="main-nav" id="navbar">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/collections" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Collection</a>
            </li>
        </ul>
    </div>
</nav>
