@import "~sass/_variables";
.navbar {
	background: $color-1-1;
	border-bottom: 1px solid $color-1-4;
	padding: 1rem 2rem;
	.navbar-nav {
		margin: 0;
		.nav-item {
			list-style-type: none;
			padding: 0.3rem 0.5rem;
			a {
				color: $color-2-2;
			}
			.active-link {
				color: $primaryColor;
			}
		}
	}
	
	.navbar-brand {
		color: $color-2-2;
		font-weight: bold;
		font-size: 1.5rem;
	}
}
.logo {
	height: 20px;
	margin-right: 4px;
}
.search {
	position: absolute;
	right: 2rem;
	input[type = text] {
		padding: 0.5em;
		border: none;
		outline: none;
		&:focus {
			border: none;
		}
	}
}

@media (max-width: 767px) {
	.search{
		top: 180px;
	}
}