.slide{
    img{
        width: 100%;
        min-height: 300px;
    }
}
.search{
    position: absolute;
    top: 300px;
    padding: 1em;
}
/********* media ************/
@media (max-width: 767px) {
    .search{
        top: 180px;
    }
}
