<div id="wrapper">
    <app-header></app-header>
	<section class="content" *ngIf="collection">
		<h3 class="text-center title">{{collection.title}}</h3>
		<div class="row zoom">
			<div class="col-xl-4 col-md-4 col-sm-6 col-12">
				<img [src]="cover" *ngIf="cover" zoom/>
			</div>
			<div class="col-xl-8 col-md-8 col-sm-6 col-12">
				<div class="col-12 collection-user">
					<div *ngIf="collection?.user" class="row">
						<div class="col-xl-3 col-md-3 col-sm-3 col-12">
							<img [src]="collection.user.profile_image.large" class="profile-img"/>
						</div>
						<div class="col-xl-9 col-md-9 col-sm-9 col-12">
							<p>{{collection.user.username}}</p>
							<p class="text-black-50" *ngIf="collection.user?.location">
								<i class="fa fa-map-marker"></i>  {{collection.user.location}}
							</p>
							<p>{{collection.user.bio}}</p>
						</div>
					</div>
				</div>
				<div class="tags" *ngIf="collection?.tags">
					<p>{{collection.description}}</p>
					<span *ngFor="let tag of collection.tags" class="tag">{{tag.title}}</span>
				</div>
				<div class="col-12">
					<div class="row thumbs" *ngIf="collection?.preview_photos">
						<div class="collection-thumb" *ngFor="let pCol of collection.preview_photos">
							<img [src] ="pCol.urls.small" zoom/>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="collection-photo">
			<h4 class="text-center">{{collection.total_photos}} <i class="fa fa-image"></i></h4>

			<!-- there are just 10 photos -> we dont need to scroll-->
			<div class="row photos">
				<div class="photo-holder" *ngFor="let photo of collectionPhotos">
					<app-photo [photo]="photo"></app-photo>
				</div>
			</div>
		</div>
	</section>
</div>




