@import "~sass/_variables";
@import "~sass/_mixins";
.photo {
	img {
		height: 200px;
	}
	margin: 0 3px;
	.photo-user {
		padding: 0.3em 0.8em;
		font-size: 0.8em;
		color: $white;
		position: absolute;
		margin-top: -48px;
		opacity: 0;
		pointer-events: none;
		min-height: 40px;
		background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.6)));
		background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.6) 100%);
		background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.6) 100%);
		background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6) 100%);
		@include transition(opacity 0.2s);
		box-sizing: border-box;
	}
	&:hover {
		.photo-user {
			opacity: 1;
		}
	}
	.user-img {
		@include border-radius(100%);
		width: 32px;
		height: 32px;
	}
}